# Começando o Trabalho
---

## Apache Spark - Introdução

### [Apache Spark](https://spark.apache.org/)

Apache Spark é uma plataforma de computação em *cluster* que fornece uma API para programação distribuída para processamento de dados em larga escala, semelhante ao modelo *MapReduce*, mas projetada para ser rápida para consultas interativas e algoritmos iterativos.

O Spark permite que você distribua dados e tarefas em clusters com vários nós. Imagine cada nó como um computador separado. A divisão dos dados torna mais fácil o trabalho com conjuntos de dados muito grandes porque cada nó funciona processa apenas uma parte parte do volume total de dados.

O Spark é amplamente utilizado em projetos analíticos nas seguintes frentes:

- Preparação de dados
- Modelos de machine learning
- Análise de dados em tempo real

### [PySpark](https://spark.apache.org/docs/3.1.2/api/python/index.html)

PySpark é uma interface para Apache Spark em Python. Ele não apenas permite que você escreva aplicativos Spark usando APIs Python, mas também fornece o *shell* PySpark para analisar interativamente seus dados em um ambiente distribuído. O PySpark oferece suporte à maioria dos recursos do Spark, como Spark SQL, DataFrame, Streaming, MLlib (Machine Learning) e Spark Core.

<center><img src="https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/img-001.png"/></center>

#### Spark SQL e DataFrame

Spark SQL é um módulo Spark para processamento de dados estruturados. Ele fornece uma abstração de programação chamada DataFrame e também pode atuar como mecanismo de consulta SQL distribuído.

#### Spark Streaming

Executando em cima do Spark, o recurso de *streaming* no Apache Spark possibilita o uso de poderosas aplicações interativas e analíticas em *streaming* e dados históricos, enquanto herda a facilidade de uso do Spark e as características de tolerância a falhas.

#### Spark MLlib

Construído sobre o Spark, MLlib é uma biblioteca de aprendizado de máquina escalonável que fornece um conjunto uniforme de APIs de alto nível que ajudam os usuários a criar e ajustar *pipelines* de aprendizado de máquina práticos.

#### Spark Core

Spark Core é o mecanismo de execução geral subjacente para a plataforma Spark sobre o qual todas as outras funcionalidades são construídas. Ele fornece um RDD (*Resilient Distributed Dataset*) e recursos de computação na memória.

## Utilizando o Spark no Windows

[fonte](https://spark.apache.org/docs/3.1.2/api/python/getting_started/install.html)

#### Passo 1 - Instalando o Java

O PySpark requer a instalação do Java na versão 7 ou superior. Obtenha a versão mais recente clicando [aqui](https://www.java.com/pt-BR/download/). Para verificar a versão que está instalada em sua máquina execute a seguinte linha de código no seu *prompt*:

```
java -version
```

#### Passo 2 - Instalando o Python

O Python deve ser instalado em sua versão 2.6 ou superior. Para obter a versão mais recente clique [aqui](https://www.python.org/downloads/windows/). Para verificar a versão do Python que está instalada em sua máquina digite o seguinte comando em seu *prompt*:

```
python --version
```

#### Passo 3 - Instalando o Apache Spark 

Selecione a versão mais estável clicando [aqui](http://spark.apache.org/downloads.html). Na criação deste projeto utilizamos a versão do Spark **3.1.2** e como tipo de pacote selecionamos **Pre-built for Apache Hadoop 2.7**.

Para instalar o Apache Spark não é necessário executar um instalador, basta descomprimir os arquivos em uma pasta de sua escolha.

<font color=red>Obs.: certifique-se de que o caminho onde os arquivos do Spark foram armazenados não contenham espaços (ex.: **"C:\spark\spark-3.1.2-bin-hadoop2.7"**).</font>

Para testar o funcionamento do Spark execute os comandos abaixo em seu *prompt* de comando. Esses comandos assumem que você extraiu os arquivos do Spark na pasta **"C:\spark\"**.

```
cd C:\spark\spark-3.1.2-bin-hadoop2.7
```

```
bin\pyspark
```

O comando acima inicia o *shell* do PySpark que permite trabalhar interativamente com o Spark.

Para sair basta digitar `exit()` e logo depois presionar *Enter*. Para voltar ao *prompt* pressione *Enter* novamente.

#### Passo 4 - Instalando o findspark

```
pip install findspark
```

#### Passo 5 - Instalando o winutils

Os arquivos do Spark não incluem o utilitário **winutils.exe** que é utilizado pelo Spark no Windows. Se não informar onde o Spark deve procurar este utilitário, veremos alguns erros no console e também não conseguiremos executar *scripts* Python utilizando o utilitário `spark-submit`.

Faça o [download](https://github.com/steveloughran/winutils) para a versão do Hadoop para a qual sua instalação do Spark foi construída. Em nosso exemplo foi utilizada a [versão 2.7](https://github.com/steveloughran/winutils/tree/master/hadoop-2.7.1/bin). Faça o *download* apenas do arquivo **winutils.exe**.

Crie a pasta **"hadoop\bin"** dentro da pasta que contém os arquivos do Spark (em nosso exemplo **"C:\spark\spark-3.1.2-bin-hadoop2.7"**) e copie o arquivo **winutils.exe** para dentro desta pasta.

Crie duas variáveis de ambiente no seu Windows. A primeira chamada **SPARK_HOME** que aponta para a pasta onde os arquivos Spark foram armazenados (em nosso exemplo **"C:\spark\spark-3.1.2-bin-hadoop2.7"**). A segunda chamada **HADOOP_HOME** que aponta para **%SPARK_HOME%\hadoop** (assim podemos modificar **SPARK_HOME** sem precisar alterar **HADOOP_HOME**).

## Utilizando o Spark no Google Colab

Para facilitar o desenvolvimento de nosso projeto neste curso vamos utilizar o Google Colab como ferramenta e para configurar o PySpark basta executar os comandos abaixo na própria célula do seu *notebook*.

In [62]:
# instalar as dependências
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

/bin/bash: linha 1: apt-get: comando não encontrado
/bin/bash: linha 1: apt-get: comando não encontrado
^C
tar: spark-3.1.2-bin-hadoop2.7.tgz: Função open falhou: Arquivo ou diretório inexistente
tar: Error is not recoverable: exiting now

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

# Carregamento de Dados
---

## [SparkSession](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.SparkSession.html)

O ponto de entrada para programar o Spark com a API Dataset e DataFrame.

Uma SparkSession pode ser utilizada para criar DataFrames, registrar DataFrames como tabelas, executar consultas SQL em tabelas, armazenar em cache e ler arquivos parquet. Para criar uma SparkSession, use o seguinte padrão de construtor:

In [63]:
import findspark
findspark.init()

In [64]:
from pyspark.sql import SparkSession

In [65]:
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('Iniciando com Spark') \
    .getOrCreate()

In [66]:
spark

## DataFrames com Spark


### Interfaces Spark

Existem três interfaces principais do Apache Spark que você deve conhecer: Resilient Distributed Dataset, DataFrame e Dataset.

- **Resilient Distributed Dataset**: A primeira abstração do Apache Spark foi o Resilient Distributed Dataset (RDD). É uma interface para uma sequência de objetos de dados que consiste em um ou mais tipos localizados em uma coleção de máquinas (um cluster). Os RDDs podem ser criados de várias maneiras e são a API de “nível mais baixo” disponível. Embora esta seja a estrutura de dados original do Apache Spark, você deve se concentrar na API DataFrame, que é um superconjunto da funcionalidade RDD. A API RDD está disponível nas linguagens Java, Python e Scala.

- **DataFrame**: Trata-se de um conceito similar ao DataFrame que você pode estar familiarizado como o pacote pandas do Python e a linguagem R . A API DataFrame está disponível nas linguagens Java, Python, R e Scala.

- **Dataset**: uma combinação de DataFrame e RDD. Ele fornece a interface digitada que está disponível em RDDs enquanto fornece a conveniência do DataFrame. A API Dataset está disponível nas linguagens Java e Scala.

Em muitos cenários, especialmente com as otimizações de desempenho incorporadas em DataFrames e Datasets, não será necessário trabalhar com RDDs. Mas é importante entender a abstração RDD porque:

- O RDD é a infraestrutura subjacente que permite que o Spark seja executado com tanta rapidez e forneça a linhagem de dados.

- Se você estiver mergulhando em componentes mais avançados do Spark, pode ser necessário usar RDDs.

- As visualizações na Spark UI fazem referência a RDDs.

In [67]:
data = [('Zeca','35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']

Criando um DataFrame

In [68]:
df = spark.createDataFrame(data, colNames)

Visualizando DataFrame

In [69]:
df.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

Visualizar o DataFrame igual o Pandas

In [70]:
df.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29

## Projeto

Nosso projeto consiste em ler, manipular, tratar e salvar um conjunto de dados volumosos utilizando como ferramenta o Spark.

## Carregamento de dados

### Dados Públicos CNPJ
#### Receita Federal

> [Empresas](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/empresas.zip)
> 
> [Estabelecimentos](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/estabelecimentos.zip)
> 
> [Sócios](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/socios.zip)

[Fonte original dos dados](https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj)

---
[property SparkSession.read](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.SparkSession.read.html)

[DataFrameReader.csv(*args)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrameReader.csv.html)

### Carregando os dados das empresas

In [71]:
import zipfile
from pathlib import Path

Descompactando dados das empresas

In [72]:
zipfile \
    .ZipFile('/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/empresas.zip') \
    .extractall('/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data')

Lendo os dados

In [73]:
path = '/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data/empresas'

path = '/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data/empresas/part-0000?-58983ad4-8444-4405-aec6-9cd3e5413d1b-c000.csv'

path = '/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data/empresas/part-0000*'


empresas = spark.read.csv(path, sep=';', inferSchema=True)
empresas.show()

+-----+--------------------+----+---+---------+---+----+
|  _c0|                 _c1| _c2|_c3|      _c4|_c5| _c6|
+-----+--------------------+----+---+---------+---+----+
| 4519|DANIELA DA SILVA ...|2135| 50|     0,00|  5|NULL|
| 8638|JOAO DOS SANTOS F...|2135| 50|     0,00|  5|NULL|
|11748|PANIFICADORA E CO...|2062| 49|     0,00|  1|NULL|
|12027| L G SORVETERIA LTDA|2062| 49|     0,00|  5|NULL|
|13289|ANDREIA CRISTINA ...|2305| 65|100000,00|  1|NULL|
|13623|MARISTELA INDUSTR...|2062| 49|     0,00|  5|NULL|
|17389|DAICICOM MARKETIN...|2240| 49|     0,00|  1|NULL|
|18944|SAO GOTARDO-DISTR...|2062| 49|     0,00|  5|NULL|
|19204|TORTARIA CAMPINAS...|2062| 49|     0,00|  1|NULL|
|22223|S R FARIAS DA SIL...|2062| 49|     0,00|  5|NULL|
|23015|EVANGELINA P DE J...|2135| 50|     0,00|  1|NULL|
|24354|JUCELIA PEREIRA D...|2135| 50|     0,00|  1|NULL|
|26708|DONEIR RODRIGUES ...|2135| 50|     0,00|  1|NULL|
|28664|M ROCHA COML IMPO...|2062| 49|100000,00|  5|NULL|
|28759|LULETEF CONFECCAO...|2062| 49|     0,00|  5|NULL|
|29194|MARIA DA SILVA FE...|2135| 50|     0,00|  1|NULL|
|33717|SOCIEDADE AMIGOS ...|3999| 16|     0,00|  5|NULL|
|38422|SEBASTIAO ALVES D...|4014| 34|     0,00|  5|NULL|
|47217|ITAPOA IMOBILIARI...|2062| 49|     0,00|  1|NULL|
|56054|MARTA XAVIER DA S...|2135| 50|     0,00|  1|NULL|
+-----+--------------------+----+---+---------+---+----+
only showing top 20 rows

Saber o número de linhas (lembra o shape do Pandas)

In [74]:
empresas.count()

4585679

## Faça como eu fiz: Estabelecimentos e Sócios

### Carregando os dados dos estabelecimentos

In [75]:
zipfile \
    .ZipFile('/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/estabelecimentos.zip') \
    .extractall('/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data')

In [76]:
path_estabelecimentos = '/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data/estabelecimentos'

In [77]:
estabelecimentos = spark.read.csv(path_estabelecimentos, sep=';', inferSchema=True)
estabelecimentos.show()

+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+---------------+-------+------------------+-----+-------------------+-----------------+--------+----+----+----+--------+----+----+----+-------+--------------------+----+----+
|  _c0|_c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|           _c12|   _c13|              _c14| _c15|               _c16|             _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|   _c26|                _c27|_c28|_c29|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+---------------+-------+------------------+-----+-------------------+-----------------+--------+----+----+----+--------+----+----+----+-------+--------------------+----+----+
| 4519|  1| 48|  1|            GIRAFFAS|  8|19950331|  1|NULL|NULL|19940516|5611203|           NULL|    RUA|     HENRIQUE SAVI|15 55|LOJA UN2A 01 TERREO| JARDIM AEROPORTO|17012205|  SP|6219|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
| 8638|  1| 79|  1|AGROPECUARIA FAGU...|  8|20150209| 73|NULL|NULL|19940524|4771704|           NULL|AVENIDA| EUCLIDES DA CUNHA|  474|              SALAO|           CENTRO|19275000|  SP|7255|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|11748|  1| 90|  1|                NULL|  4|20181219| 63|NULL|NULL|19940531|4721102|           NULL|    RUA|    JOSE BONIFACIO|  110|               NULL|       VILA DINIZ|15013150|  SP|7097|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|12027|  1|  2|  1|                NULL|  8|20081231| 71|NULL|NULL|19940608|4721104|           NULL|AVENIDA|      INDIANOPOLIS| 3304|               NULL|            SAUDE| 4062003|  SP|7107|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|13289|  1| 83|  1|JS MATERIAIS DE C...|  2|20040123|  0|NULL|NULL|19940601|4744099|           NULL|    RUA|SALVADOR TAMAIOLLI|  165|               NULL|    PORTO BELLO I|13660000|  SP|6915|  19|35811286|NULL|NULL|NULL|   NULL|CONTATO@LEONECONT...|NULL|NULL|
|13623|  1|  7|  1|MARISTELA INDUSTR...|  8|20081231| 71|NULL|NULL|19730821|1053800|           NULL|   NULL|         QI 4 LOTE|    8|               NULL|       TAGUATINGA|71920540|  DF|9701|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|17389|  1| 88|  1|                NULL|  4|20181004| 63|NULL|NULL|19940613|6209100|           NULL|    RUA|      GODOI COLACO|  150|               NULL|    VILA CORDEIRO| 4582030|  SP|7107| 011| 5352348|NULL|NULL|  11|5352348|                NULL|NULL|NULL|
|18944|  1| 96|  1|           MONTANHES|  8|19960506|  1|NULL|NULL|19940621|4693100|        4691500|AVENIDA|  GALEAO CARVALHAL|   17|             BAIXOS|          GONZAGA|11055201|  SP|7071|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|19204|  1| 74|  1|                NULL|  8|20121004|  1|NULL|NULL|19940616|4729601|           NULL|AVENIDA|          IGUATEMI|  777|               NULL|    VILA BRANDINA|13092500|  SP|6291|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|22223|  1| 50|  1|                NULL|  8|20161010|  1|NULL|NULL|19940628|4772500|           NULL|    RUA|   INDIA PARAGUACU|   45|               NULL|       NOVA GUARA|12516640|  SP|6469|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|23015|  1| 75|  1|    FLORICULTURA EVA|  4|20180911| 63|NULL|NULL|19940629|4789002|           NULL|AVENIDA|                 A|   98|               NULL|     JD PRIMAVERA| 6056040|  SP|6789|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|24354|  1| 76|  1|              JUCELI|  8|20080516| 54|NULL|NULL|19940706|4755502|           NULL|AVENIDA|     N S DE FATIMA|   60|               NULL|     JORDANOPOLIS| 7400015|  SP|6177|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|26708|  1| 11|  1|BAR E MERCEARIA R...|  8|20081231| 71|NULL|NULL|19820121|5611203|           NULL|AVENIDA|     JOSE LUDOVICO|  S/N|       LOTE 14 QD P|           CENTRO|73751469|  GO|9595|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|28664|  1| 69|  1|                NULL|  2|20040828|  0|NULL|NULL|19940808|4672900|        8211300|    RUA|             ROCHA|  173|               NULL|     MEU CANTINHO| 8664650|  SP|7151|  19|37134004|NULL|NULL|NULL|   NULL|CONTATO@CONCEITOS...|NULL|NULL|
|28759|  1| 82|  1|                NULL|  4|20210112| 63|NULL|NULL|19940804|1413401|1413403,3292201|AVENIDA|           SALINAS|  257|               NULL|BOSQUE EUCALIPTOS|12233590|  SP|7099|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|29194|  1| 58|  1|      GRANJA RECANTO|  8|20130611|  1|NULL|NULL|19940824|4729699|           NULL|    RUA|                 A| 2447|               NULL|        VILA NOVA|19250000|  SP|7011|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|33717|  1| 30|  1|                NULL|  4|20181221| 63|NULL|NULL|19941125|9430800|9493600,9499500|    RUA|     CHICO BUQUIRA|  876|               NULL|RESID GALO BRANCO|12247550|  SP|7099| 012|97633382|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|38422|  1| 56|  1|      SALAO MINISTER|  8|19780502|  1|NULL|NULL|19670113|8888888|           NULL|   NULL|      QNE  25 LOTE|   20|            LOJA 02|       TAGUATINGA|71920540|  DF|9701|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|47217|  1| 57|  1|                NULL|  4|20180828| 63|NULL|NULL|19820311|4299599|        4399199|    RUA|               603|  485|               NULL|        VL S JOSE|74440480|  GO|9373|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
|56054|  1| 79|  1|   DOCE VIDA SALGADA|  4|20181018| 63|NULL|NULL|19940428|5611203|           NULL|AVENIDA|         BEIRA RIO|  S/N|               NULL|    JARDIM EUROPA|78070200|  MT|9067|NULL|    NULL|NULL|NULL|NULL|   NULL|                NULL|NULL|NULL|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+---------------+-------+------------------+-----+-------------------+-----------------+--------+----+----+----+--------+----+----+----+-------+--------------------+----+----+
only showing top 20 rows

In [78]:
estabelecimentos.count()

4836219

### Carregando os dados dos sócios

In [79]:
zipfile \
    .ZipFile('/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/socios.zip') \
    .extractall('/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data')

In [80]:
path_socios = '/home/leonardorocha/Documentos/Estudos/Alura/Apache Spark Com Python/01_apresentando_a_ferramenta/data/unzipped_data/socios'

In [81]:
socios = spark.read.csv(path_socios, sep=';', inferSchema=True)
socios.show()

+-----+---+--------------------+--------------+---+--------+----+-----------+----+---+----+
|  _c0|_c1|                 _c2|           _c3|_c4|     _c5| _c6|        _c7| _c8|_c9|_c10|
+-----+---+--------------------+--------------+---+--------+----+-----------+----+---+----+
|11748|  2|   MARIO KATUMI HOSI|   ***504158**| 49|19940530|NULL|***000000**|NULL|  0|   7|
|11748|  2|  ROBERTO YUKIO HOSI|   ***241578**| 22|19940530|NULL|***000000**|NULL|  0|   7|
|13289|  2|ANDREIA CRISTINA ...|   ***787278**| 65|20180615|NULL|***000000**|NULL|  0|   3|
|17389|  2|MARCIA DO CANTO A...|   ***920408**| 49|19940613|NULL|***000000**|NULL|  0|   7|
|19204|  2|ALMIR CARLOS CAPE...|   ***299028**| 49|19980908|NULL|***000000**|NULL|  0|   7|
|19204|  2|EDMIR CARLOS CAPE...|   ***633158**| 49|19980908|NULL|***000000**|NULL|  0|   7|
|22223|  2|SILVIA REGINA FARIAS|   ***203598**| 49|19940627|NULL|***000000**|NULL|  0|   6|
|22223|  2|RUBENS BATISTA DA...|   ***464638**| 22|19990111|NULL|***000000**|NULL|  0|   7|
|28664|  2|CLARICE YURIKO MA...|   ***979398**| 49|19940802|NULL|***000000**|NULL|  0|   6|
|28664|  2|MARIA CLARA ROCHA...|   ***387348**| 22|20210203|NULL|***000000**|NULL|  0|   3|
|28759|  2|SAMUEL SANTOS MAC...|   ***204968**| 49|19940804|NULL|***000000**|NULL|  0|   7|
|28759|  1|LULETEF CONFECCAO...|00028759000182| 22|20050408|NULL|***000000**|NULL|  0|   0|
|33717|  2|ANTONIO CARLOS VI...|   ***064718**| 16|20051121|NULL|***000000**|NULL|  0|   8|
|47217|  2|LINDAIR FERREIRA ...|   ***019491**| 49|19920311|NULL|***000000**|NULL|  0|   7|
|65867|  2|FRANCISCO ANTONIO...|   ***763245**| 49|20110616|NULL|***000000**|NULL|  0|   6|
|65867|  2|MOACIR DE CASTRO ...|   ***208125**| 49|20110616|NULL|***000000**|NULL|  0|   4|
|73091|  2|SIMONE FISCHER SC...|   ***300820**| 22|19940301|NULL|***000000**|NULL|  0|   6|
|73091|  2|IAN FISCHER SCHIL...|   ***585740**| 49|20180201|NULL|***000000**|NULL|  0|   3|
|90550|  2|PATRICIA DA MOTTA...|   ***301907**| 49|20120613|NULL|***000000**|NULL|  0|   5|
|90550|  2|BRUNA MARIA LACOR...|   ***880417**| 22|20120613|NULL|***000000**|NULL|  0|   4|
+-----+---+--------------------+--------------+---+--------+----+-----------+----+---+----+
only showing top 20 rows

In [82]:
socios.count()

2046430

# Manipulando os Dados
---

## Operações básicas

Visualizar apenas os 5 primeiros registros (igual o head do Pandas)

In [119]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
3,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None

### Renomeando as colunas do DataFrame

In [102]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

In [104]:
for index, col_name in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f'_c{index}', col_name)

Outra forma (usando a função toDF)

In [85]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

In [112]:

estabelecimentos = estabelecimentos.toDF(*estabsColNames)

In [86]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [117]:
for index, col_name in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f'_c{index}', col_name)

## Analisando os dados

[Data Types](https://spark.apache.org/docs/3.1.2/api/python/reference/pyspark.sql.html#data-types)

Visualizar o Schema da tabela

In [121]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [120]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
3,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None

In [122]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [123]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,11748,2,MARIO KATUMI HOSI,***504158**,49,19940530,NaN,***000000**,None,0,7
1,11748,2,ROBERTO YUKIO HOSI,***241578**,22,19940530,NaN,***000000**,None,0,7
2,13289,2,ANDREIA CRISTINA DELSIN,***787278**,65,20180615,NaN,***000000**,None,0,3
3,17389,2,MARCIA DO CANTO ARRUDA DAIER,***920408**,49,19940613,NaN,***000000**,None,0,7
4,19204,2,ALMIR CARLOS CAPELLINI,***299028**,49,19980908,NaN,***000000**,None,0,7

In [124]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [125]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,4519,1,48,1,GIRAFFAS,8,19950331,1,None,NaN,...,6219,None,None,None,None,NaN,None,None,None,NaN
1,8638,1,79,1,AGROPECUARIA FAGUNDES,8,20150209,73,None,NaN,...,7255,None,None,None,None,NaN,None,None,None,NaN
2,11748,1,90,1,None,4,20181219,63,None,NaN,...,7097,None,None,None,None,NaN,None,None,None,NaN
3,12027,1,2,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
4,13289,1,83,1,JS MATERIAIS DE CONSTRUCAO,2,20040123,0,None,NaN,...,6915,19,35811286,None,None,NaN,None,CONTATO@LEONECONTABIL.COM.BR,None,NaN

## Modificando os tipos de dados

[Functions](https://spark.apache.org/docs/3.1.2/api/python/reference/pyspark.sql.html#functions)

[withColumn](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.withColumn.html)

### Convertendo String ➔ Double

#### `StringType ➔ DoubleType`

In [127]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [128]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [129]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
3,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None

Trocanda vírgula por ponto da coluna de capital social

In [132]:
empresas = empresas.withColumn('capital_social_da_empresa', \
                               f.regexp_replace('capital_social_da_empresa', ',', '.'))
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,0.00,5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,0.00,5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,0.00,1,None
3,12027,L G SORVETERIA LTDA,2062,49,0.00,5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,100000.00,1,None

Convertando valores para decimal

In [ ]:
empresas = empresas.withColumn('capital_social_da_empresa', \
                               empresas['capital_social_da_empresa'].cast(DoubleType())
                               )

In [136]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,0.0,5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,0.0,5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,0.0,1,None
3,12027,L G SORVETERIA LTDA,2062,49,0.0,5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,100000.0,1,None

In [137]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

### Convertendo String ➔ Date

#### `StringType ➔ DateType`

[Datetime Patterns](https://spark.apache.org/docs/3.1.2/sql-ref-datetime-pattern.html)

In [87]:
df = spark.createDataFrame([(20200924,), (20201022,), (20210215,)], ['data'])
df.toPandas()

       data
0  20200924
1  20201022
2  20210215

# Seleções e consultas
---

## Selecionando informações
 
[DataFrame.select(*cols)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.select.html)

## Faça como eu fiz

## Identificando valores nulos

In [88]:
df = spark.createDataFrame([(1,), (2,), (3,), (None,)], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [89]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|NULL|
+----+

In [90]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'),)], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [91]:
df.show()

+----+
|data|
+----+
| 1.0|
| 2.0|
| 3.0|
| NaN|
+----+

In [92]:
df = spark.createDataFrame([('1',), ('2',), ('3',), (None,)], ['data'])
df.toPandas()

   data
0     1
1     2
2     3
3  None

In [93]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|NULL|
+----+

## Ordenando os dados

[DataFrame.orderBy(*cols, **kwargs)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.orderBy.html)

## Filtrando os dados

[DataFrame.where(condition)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.where.html) ou [DataFrame.filter(condition)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.filter.html)

## O comando LIKE

[Column.like(other)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.Column.like.html)

In [94]:
df = spark.createDataFrame([('RESTAURANTE DO RUI',), ('Juca restaurantes ltda',), ('Joca Restaurante',)], ['data'])
df.toPandas()

                     data
0      RESTAURANTE DO RUI
1  Juca restaurantes ltda
2        Joca Restaurante

# Agregações e Junções
---

[DataFrame.groupBy(*cols)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.groupBy.html)

[DataFrame.agg(*exprs)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.agg.html)

[DataFrame.summary(*statistics)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.summary.html)

> Funções:
[approx_count_distinct](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.approx_count_distinct.html) | 
[avg](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.avg.html) | 
[collect_list](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.collect_list.html) | 
[collect_set](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.collect_set.html) | 
[countDistinct](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.countDistinct.html) | 
[count](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.count.html) | 
[grouping](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.grouping.html) | 
[first](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.first.html) | 
[last](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.last.html) | 
[kurtosis](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.kurtosis.html) | 
[max](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.max.html) | 
[min](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.min.html) | 
[mean](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.mean.html) | 
[skewness](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.skewness.html) | 
[stddev ou stddev_samp](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.stddev.html) | 
[stddev_pop](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.stddev_pop.html) | 
[sum](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.sum.html) | 
[sumDistinct](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.sumDistinct.html) | 
[variance ou var_samp](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.variance.html) | 
[var_pop](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.functions.var_pop.html)

## Sumarizando os dados

## Juntando DataFrames - Joins

[DataFrame.join(*args)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.join.html)

## SparkSQL

[SparkSession.sql(sqlQuery)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.SparkSession.sql.html)

Para saber mais sobre performance: [Artigo - Spark RDDs vs DataFrames vs SparkSQL](https://community.cloudera.com/t5/Community-Articles/Spark-RDDs-vs-DataFrames-vs-SparkSQL/ta-p/246547)

# Formas de Armazenamento
---

## Arquivos CSV

[property DataFrame.write](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrame.write.html)

[DataFrameWriter.csv(*args)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrameWriter.csv.html)

## Faça como eu fiz

## Arquivos PARQUET

[Apache Parquet](https://parquet.apache.org/)

[DataFrameWriter.parquet(*args)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrameWriter.parquet.html)

## Particionamento dos dados

[DataFrameWriter.partitionBy(*cols)](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.DataFrameWriter.partitionBy.html)